<mat-toolbar color="primary" class="app-navbar">
  <button mat-button mat-ripple routerLink="/">
    <img alt="Get-It-Free" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
    <span>Get It Free!</span>
  </button>
  <button routerLinkActive="active" routerLink="/add-advert" mat-button mat-ripple>
    <span>Add advert</span>
  </button>

  <div class="right">
    <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
      <button routerLink="/signup" mat-button mat-ripple>
        <span>Sign up</span>
      </button>
      <button  routerLink="/login" mat-button mat-ripple>
        <span>Login</span>
      </button>
      <!--<button-->
        <!--class="greeting-button"-->
        <!--mat-button mat-ripple>-->
        <!--&lt;!&ndash;*ngIf="hasSignedIn()"&ndash;&gt;-->

        <!--&lt;!&ndash;[matMenuTriggerFor]="accountMenu">&ndash;&gt;-->

        <!--<span>Aloha, username</span>-->
      <!--</button>-->
      <!--<button-->
        <!--class="greeting-hamburger"-->
        <!--mat-icon-button mat-ripple>-->
        <!--&lt;!&ndash;*ngIf="hasSignedIn()"&ndash;&gt;-->

        <!--&lt;!&ndash;[matMenuTriggerFor]="accountMenu">&ndash;&gt;-->
        <!--<mat-icon>menu</mat-icon>-->
      <!--</button>-->
      <!--<mat-menu #accountMenu-->
                <!--class="app-header-accountMenu"-->
                <!--yposition="below"-->
                <!--[overlapTrigger]="false">-->
        <!--&lt;!&ndash;<app-account-menu ></app-account-menu>&ndash;&gt;-->
      <!--</mat-menu>-->
    </div>
  </div>
</mat-toolbar>



