
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card">
      <img class="card-img-top" [src]="advert.imageUrl">
      <div class="card-block">
        <h4 class="card-title">{{advert.head}}</h4>
        <div class="meta">
          <a href="#">{{advert.id}}</a>
        </div>
        <div class="card-text">
          {{advert.content}}
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-info btn-sm" [disabled]="advert.ordered" (click)="orderAdvert()">Get it!</button>
        <button class="btn btn-info btn-sm" (click)="onSelected()">Details!</button>
      </div>
    </div>
    <hr/>
  </div>

